/TriagonalSign/build/
/InputStringAndStuff/nbproject/private/
/InputStringAndStuff/build/
/Recitation2/build/
/DeciscionStructures/build/
/NumeratorAndDenominator/nbproject/private/
/NumeratorAndDenominator/build/
/NestedIfStatementHW/nbproject/private/
/JavaHW3/nbproject/private/
/TestbedProgram/nbproject/private/
/TestbedProgram/build/
/JavaHW4/nbproject/private/
/JavaHW4/build/
/Graded Input/nbproject/private/
/Graded Input/build/
/IffyLoopSwitches/nbproject/private/
/IffyLoopSwitches/build/
/GettingLoopy/nbproject/private/
/GettingLoopy/build/
/MoreLoops/nbproject/private/
/MoreLoops/build/