/TriagonalSign/build/
/InputStringAndStuff/nbproject/private/
/InputStringAndStuff/build/
/Recitation2/build/
/DeciscionStructures/build/
/NumeratorAndDenominator/nbproject/private/
/NumeratorAndDenominator/build/
/NestedIfStatementHW/nbproject/private/
/JavaHW3/nbproject/private/